@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .overlay {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        left: 0;
        top: 0;
        /*background: rgba(207, 236, 245, 0.26);*/
        background: rgba(0, 0, 0, 0.3);
        /*background: #a1d0ff;*/
        /*opacity: 50%;*/
    }
}

.header {
    background-image: url('Sia2WithWhite.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.vertically-horizontally-centered {
    /*margin: 0;*/
    bottom: 0%;
    margin-bottom: 0%;
    position: absolute;
    /*top: 65%;*/
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background: #aeddfc;*/
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
}

.bring-front {
    z-index: 100;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    bottom: 0%;
    /*left: 0;*/
    /*top: 0;*/
    /*background: rgba(207, 236, 245, 0.26);*/
    /*background: rgba(0, 0, 0, 0.3);*/
    background: #a1d0ff;
    opacity: 75%;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    /*#89cff0*/
    font-family: "Le Jour Serif";
}

.navbar {
    background: #aeddfc;
    /*background: white;*/
    list-style-type: none;
    text-align: center;
    z-index: 5;
}
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link:hover {
    color: white;
    background-color: #78C5F9;
}
.navbar-collapse {
    justify-content: flex-end;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#sia-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    /*background-size: contain;*/
}

video {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.btn {
    margin: 10px;
    background-color: #aeddfc;
    border: none;
    color: black;
}

.center {
    text-align: center;
}

.program_item_name {
    text-align: left;
}

.program_item_time {
    text-align: right;
}

.responsive {
    width: 60%;
    height: auto;
}

.left-align {
    text-align: left;
    margin-left: 20%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    width: 90%;
    text-align: center;
    display: inline-block;
}

li {
    width: 90%;
}

.person-name {
    font-weight: bold;
}

.notbold {
    font-weight: normal;
}

.end {
    background: #aeddfc;
}

/*all of scrolling stuff*/

.js-scroll {
    opacity: 0;
    transition: opacity 1500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*end of scrolling stuff*/