h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.topnav {
    text-align: center;
    overflow: hidden;
    align-self: center;
    alignment: center;
    justify-content: center;
    align-items: center;
    child-align: middle;
    horiz-align: center;
}

p {
    text-align: center;
    width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    alignment: left;
}

.topnav {
    margin-left: auto;
    margin-right: auto;
    alignment: center;
    align-self: center;
}

/*Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #aeddfc;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    /*background-color: #04AA6D;*/
    background-color: #78C5F9;
    background-image: #78C5F9;
    color: black;
}

.home {
    background-color: #78C5F9;
}

.son {
    background-color: #78C5F9;
}

.brother {
    background-color: #78C5F9;
}

.husband {
    background-color: #78C5F9;
}

.father {
    background-color: #78C5F9;
}

.grandfather {
    background-color: #78C5F9;
}